.card{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px !important;
}

.card-body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

input[type=text]{
    text-align: center;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid;
}

.submit-button{
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 6px;
    color: white;
    background-color:rgb(33, 32, 32);
    border: none;
    font-weight: 500;
    transition: 0.8s;
}

.submit-button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.8s;
}